.app-past-trials-header {
  height: 100px;
  width: 100%;
  background-color: rgba(93, 93, 93, 0.7);
}

.app-past-trials {
  max-width: 1024px;
  margin: 0 auto;
  font-weight: $font-weight-thin;
  position: relative;
  padding: 50px 15px 0;

  @media screen and (min-width: 1024px) {
    padding-left: 0;
    padding-right: 0;
  }
}

app-past-trials {
  thumb-box {
    height: 350px;
    margin-bottom: 40px;
  }
}
