.section-title {
  font-size: $font-size-title;
  line-height: $line-height-regular;
  font-weight: $font-weight-thin;
  margin-bottom: 30px;
}


.font-weight-thin {
  font-weight: $font-weight-thin;
}

.font-weight-regular {
  font-weight: $font-weight-regular;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}
